<% content_for :card_header do %>
  <h3 class="mb-0">Edit item <%= @item.name %></h3>
<% end %>

<%= render 'form', item: @item %>

<% content_for :card_footer do %>
  <%= link_to 'Show', @item, class: 'btn btn-secondary' %>
  <%= link_to 'Back', items_path, class: 'btn btn-secondary' %>
<% end %>
