<% @card_body_class = 'p-0' %>

<% content_for :before do %>
  <p id="notice"><%= notice %></p>
<% end %>

<% content_for :card_header do %>
  <h3 class="mb-0">Items</h3>
<% end %>

<table class="table table-hover mb-0">
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <th scope="row">
          <%= item.name %>
        </th>
        <td>
          <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :card_footer do %>
  <%= link_to 'New Item', new_item_path, class: "btn btn-primary" %>
<% end %>
