<% @card_class = 'bg-light shadow-sm border-info mb-3' %>
<% @card_header_class = 'text-white bg-info text-center py-3' %>
<% @card_footer_class = 'text-white bg-info text-center' %>

<% content_for :card_header do %>
  <h1 class="mb-0"><%= @item.name %></h1>
<% end %>

<% content_for :card_footer do %>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Back', items_path, class: 'btn btn-secondary' %>
<% end %>
