body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #eee;
	font-family: -apple-system,BlinkMacSystemFont,"Microsoft YaHei UI","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.initial-content {
	flex: 1 0 auto;
}

footer {
	padding-top: 1em;
	border-top: 1px solid #ccc;
}
