<div class="p-3 py-md-5 mx-auto text-center">
  <h1 class="display-4">Categories</h1>
</div>

<div class="row text-center">
  <% @categories.each do |category| %>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 px-3 mb-4">
      <div class="card shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">
            <%= category.name %>
          </h4>
        </div>

        <div class="card-body">
          <h3 class="card-title">
            <%= pluralize category.items.count, 'item' %>
          </h3>
          <ul class="list-unstyled mt-3 mb-4">
            <li>
              Placeholder text
            </li>
          </ul>

          <%= link_to 'View', category, class: 'btn btn-lg btn-block btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
