<% %>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand" href="/">
    <i class="fas fa-star-and-crescent fa-fw fa-lg"></i>
    <%= site_name %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if page.url == '/' %} active {% endif %}">
        <a class="nav-link" href="{{ "/" | relative_url }}">
          <i class="fas fa-fw fa-home"></i>
          主页
        </a>
      </li>
      <li class="nav-item {% if url_dir[1] == 'tag' %} active {% endif %}">
        <a class="nav-link" href="{{ "/tag/" | relative_url }}">
          <i class="fas fa-fw fa-tags"></i>
          标签
        </a>
      </li>
      <li class="nav-item {% if url_dir[1] == 'search' %} active {% endif %}">
        <a class="nav-link" href="{{ "/search/" | relative_url }}">
          <i class="fas fa-fw fa-search"></i>
          搜索
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          分类
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for collection in site.collections %}
            {% if collection.label != "posts" %}
              <a class="dropdown-item {% if url_dir[1] == collection.label %} active {% endif %}" 
                 href="{{ collection.label | prepend: "/" | relative_url }}">{{ collection.name }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/atom.xml" | relative_url }}">
          <i class="fas fa-fw fa-rss"></i>
          RSS
        </a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item {% if url_dir[1] == 'about' %} active {% endif %}">
        <a class="nav-link" href="{{ "/about/" | relative_url }}">
          <i class="fas fa-fw fa-info-circle"></i>
          关于
        </a>
      </li>
    </ul>
  </div>
</nav>
